* {
  width: 100%;
  text-align: center;
  margin: 0;
  word-break: break-all;
}

body {
  width: 100%;
  color: #39ff57;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  text-align: center;
  margin: 0;
}

header {
  width: 100%;
}

main {
  width: 100%;
}

header p,
header h1 {
  width: 100%;
  margin: 0;
}

img {
  width: 50%;
}

h1 {
  font-size: 300%;
  color: #c8659e;
}

.drinks {
  font-size: 200%;
}
